* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0f0;
}

header {
    background: #111;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    margin-top: 80px;
}

.hero h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #333;
}

footer {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}
.about {
    margin: 50px;
    padding: 20px;
    background: white;
    border-radius: 10px;
}
